/* Pure css menus, with everything aligning "just right." 
This should be common to all css menu styles.
The styling options (colours, background) are to be introduced in separate files.*/
#menu {
	position:fixed; 
	top:0;  
	z-index: 10;
	list-style-type:none;
	font:100%/1 sans-serif;
}
.menuitem {
	position:relative;
	width:10em;  /* kept in sync with values below. */ 
	height:1.4em;
	display:block;
	float:left;
	overflow:hidden;
}
.menuitem ul {
	margin: 0; padding:0;
	list-style-type:none;
}
.menuitem li { margin:0; padding:0;}
.submenu li { position:relative }
.submenu .subsubmenu {
	position:absolute; 
	top:0;
	left:10em; /* both kept in sync */
	width:10em; /* with value above */
	display:none;
}
.menuitem:hover {overflow:visible;}
.submenu li:hover > .subsubmenu {
	display:block;
}
#menu a {
	display:block;
	margin:0; 
	padding: 0.2em 0 0.3em;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
}