/* This file complements menu.css, where the "mechanics" is implemented.
Tutor menu style. */
#menu a {
	color:blue;
	margin:0;
	border:1px solid blue;
	background: #99B3E6;
}
#menu a:hover { background: white;
	text-decoration: none;
	border-color: #ccc;
	border-bottom-color: blue;}
.menuitem a { 	color: #0000cc;
	display: block;
	font-weight: bold;
	background: white;

	}
.menuitem ul a { 	display: block;
	color: #00c;
	background: white;
	padding: 0.15em 0.5em;

	text-decoration: none;}

button {background-color: #99B3E6; color: blue; }
button:hover{background-color: white; color:blue;}


