/* This file complements menu.css, where the "mechanics" is implemented.
Simple black and white. */
#menu a {
	background-color:#cccccc;
	color:black;
	border:1px solid black;
}
#menu a:hover { background:black; color:white; border:1px solid black}

input.crunchy {background-color: white; color: black; border:1px solid black}
input.crunchy:hover {background:black; color:white; border:1px solid black}

button {background-color: white; color: black; border:1px solid black}
button:hover{background:black; color:white; border:1px solid black}