/* Comet basic style.  To be improved upon. */
body {max-width:800px;}

.stdout {
    color: blue;
}

.stderr {
    color: red;
}

.input {
    display: none;
		width: 90%;
}
.interp_input{
    width: 90%;
    display:inline;
}
.output{
    font: 10pt monospace;
    color:darkgreen; 
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation)
                            http://www.w3.org/TR/css3-text/#white-space */
}
