/* This file complements menu.css, where the "mechanics" is implemented.
Gradient 1*/
.menuitem {
background-image: url(../images/menu1.png);
	background-repeat: repeat-x;
}
.menuitem a{color:white}
.down_arrow{
	padding: 3px 0px 5px;
	background-image: url(../images/down_white.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.right_arrow{
	padding: 3px 0px 5px;
	background-image: url(../images/right_black.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
#menu a:hover { background-color:#C19674; color:black;}


.submenu {background-image: url(../images/submenu1.png);
	background-repeat: repeat-x; color:black;}
.submenu a{color:black}

.subsubmenu {background-image: url(../images/submenu1.png);
	background-repeat: repeat-x; color:black;}

body{
background-image: url(../images/body1.png);
	background-repeat: repeat-x;
}

input.crunchy {background-image: url(../images/menu1.png); 	
background-repeat: repeat-x; color: white;}

input.crunchy:hover {background-image: url(../images/hover1.png);
	background-repeat: repeat-x; color:black;}

button {background-image: url(../images/menu1.png); 	
background-repeat: repeat-x; color: white;}

button:hover{background-image: url(../images/hover1.png);
	background-repeat: repeat-x; color:black;}
