#crunchy_menu_container
{
padding: 0;
height: 62px;   /* keep in sync with margin-top for body*/
position:fixed; 
top:0;
right: 0;
z-index: 10;
}

body
{margin-top: 52px; /* keep nearly (-10px) in sync with crunchy_menu_container height */}

#crunchy_menu_container ul
{
border: 0;
margin: 0;
padding: 0;
list-style-type: none;
}

#crunchy_menu_container ul li
{
display: block;
float: left;
text-align: right;
padding: 0;
margin: 0;
}

#crunchy_menu_container ul li a
{
background: #fff;
width: 150px;
height: 54px;
border: 2px solid #FFBC29;
padding: 0;
color: #369;
text-decoration: none;
display: block;
text-align: center;
font: 50px sans-serif;
}

#crunchy_menu_container ul li a img
{
background: white;
border: 2px solid white;
}

#crunchy_menu_container ul li a:hover
{
color: #FFBC29;
background: #369;
border: 2px solid #369;
}


.wide-notes{
border: 1px solid #369;
-moz-border-radius: 20px;
padding: 0;
margin:6px;
background-color:#F8F8F0;
}
.wide-notes h4{
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
text-align:center;
padding: 3px;
border-bottom:3px solid #FFBC29;
font-weight: bold;
margin-bottom: 8px;
margin-top: 0;
color: white;
background-color: #369;
}
.wide-notes p{
margin:6px;
padding: 5px 8px 5px 8px;
}
.wide-notes ul{
margin: 12px;
padding: 5px 8px 5px 8px;
}

.wide-warning{
border: 3px solid red;
-moz-border-radius: 20px;
padding: 0;
margin:6px;
background-color:#FFFFcc;
}
.wide-warning h4{
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
text-align:center;
padding: 5px;
border-bottom:3px solid red;
font-weight: bold;
margin-bottom: 8px;
margin-top: 0;
background-color: #FFBC29;
}
.wide-warning p{
margin:6px;
padding: 5px 8px 5px 8px;
}
.wide-warning ul{
margin: 12px;
padding: 5px 8px 5px 8px;
}


.notes{
float: right;
width: 40%;
border: 1px solid #369;
-moz-border-radius: 20px;
padding: 0;
margin:6px;
background-color:#F8F8F0;
}
.notes h4{
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
text-align:center;
padding: 3px;
border-bottom:3px solid #FFBC29;
font-weight: bold;
margin-bottom: 8px;
margin-top: 0;
color: white;
background-color: #369;
}
.notes p{
margin:6px;
padding: 5px 8px 5px 8px;
}
.notes ul{
margin: 12px;
padding: 5px 8px 5px 8px;
}

table.summary {
background-color:#F5F5DC;
border:1px outset gray;
border-collapse:separate;
border-spacing:1px;
}
table.summary th, td {
border:1px inset gray;
padding:1px;
}